@font-face {
    font-family: "MONTSERRAT-MEDIUM";
    src: url('/font/montserrat/MONTSERRAT-MEDIUM.ttf') format("truetype");
}
@font-face {
    font-family: "MONTSERRAT-REGULAR";
    src: url('/font/montserrat/MONTSERRAT-REGULAR.ttf') format("truetype");
}
@font-face {
    font-family: "MONTSERRAT-BOLD";
    src: url('/font/montserrat/MONTSERRAT-BOLD.ttf') format("truetype");
}
@font-face {
    font-family: "MONTSERRAT-SEMIBOLD";
    src: url('/font/montserrat/MONTSERRAT-SEMIBOLD.ttf') format("truetype");
}
.f-MONTSERRAT-MEDIUM{
    font-family: 'MONTSERRAT-MEDIUM';
}
.f-MONTSERRAT-REGULAR{
    font-family: 'MONTSERRAT-REGULAR';
}

.f-MONTSERRAT-BOLD{
    font-family: 'MONTSERRAT-BOLD';
}
.f-MONTSERRAT-SEMIBOLD{
    font-family: 'MONTSERRAT-SEMIBOLD';
}
