@font-face {
    font-family: "helvetica-neue-bold-italic.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-bold-italic.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-condensed-black.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-condensed-black.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-italic.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-italic.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-light-italic.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-light-italic.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-medium.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-medium.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-regular.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-regular.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-ultra-light-italic.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-ultra-light-italic.ttf') format("truetype");
}

@font-face {
    font-family: "helvetica-neue-ultra-light.ttf";
    src: url('/font/Helvetica Neue/helvetica-neue-ultra-light.ttf') format("truetype");
}

@font-face {
    font-family: "helveticaneuebold.ttf";
    src: url('/font/Helvetica Neue/helveticaneuebold.ttf') format("truetype");
}

@font-face {
    font-family: "helveticaneuelight.ttf";
    src: url('/font/Helvetica Neue/helveticaneuelight.ttf') format("truetype");
}

.f-helvetica-neue-bold-italic {
    font-family: 'helvetica-neue-bold-italic.ttf' !important;
}

.f-helvetica-neue-condensed-black {
    font-family: 'helvetica-neue-condensed-black.ttf' !important;
}

.f-helvetica-neue-italic {
    font-family: 'helvetica-neue-italic.ttf' !important;
}

.f-helvetica-neue-light-italic {
    font-family: 'helvetica-neue-light-italic.ttf' !important;
}

.f-helvetica-neue-medium {
    font-family: 'helvetica-neue-medium.ttf' !important;
}

.f-helvetica-neue-regular {
    font-family: 'helvetica-neue-regular.ttf' !important;
}

.f-helvetica-neue-ultra-light-italic {
    font-family: 'helvetica-neue-ultra-light-italic.ttf' !important;
}

.f-helvetica-neue-ultra-light {
    font-family: 'helvetica-neue-ultra-light.ttf' !important;
}

.f-helvetica-neue-bold {
    font-family: 'helveticaneuebold.ttf' !important;
}


.f-helvetica-neue-light {
    font-family: 'helveticaneuelight.ttf' !important;
}
