@font-face {
    font-family: "DFVN 36daysoftype.otf";
    src: url('/font/dfvn/DFVN 36daysoftype.otf') format("truetype");
}
@font-face {
    font-family: "DFVN Desirable Calligraphy.otf";
    src: url('/font/dfvn/DFVN Desirable Calligraphy.otf') format("truetype");
}

.f-DFVN-36daysoftype{
    font-family: 'DFVN 36daysoftype.otf';
}
.f-DFVN-Desirable-Calligraphy{
    font-family: 'DFVN Desirable Calligraphy.otf';
}

