@font-face {
    font-family: "BeautiqueDisplayCondensed-Black";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Black.otf') format("truetype");
}@font-face {
    font-family: "BeautiqueDisplayCondensed-BlackItalic";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-BlackItalic.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-Bold";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Bold.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-BoldItalic";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-BoldItalic.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-Italic";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Italic.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-Light";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Light.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-LightItalic";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-LightItalic.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-Medium";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Medium.otf') format("truetype");
}
@font-face {
    font-family: "BeautiqueDisplayCondensed-MediumItalic";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-MediumItalic.otf') format("truetype");
}@font-face {
    font-family: "BeautiqueDisplayCondensed-Regular";
    src: url('/font/beautique/display-condensed/BeautiqueDisplayCondensed-Regular.otf') format("truetype");
}
.f-beautique-display-condesed-black {
    font-family: 'BeautiqueDisplayCondensed-Black';
}
.f-beautique-display-condesed-black-italic {
    font-family: 'BeautiqueDisplayCondensed-BlackItalic';
}
.f-beautique-display-condesed-bold {
    font-family: 'BeautiqueDisplayCondensed-Bold';
}
.f-beautique-display-condesed-bold-italic {
    font-family: 'BeautiqueDisplayCondensed-BoldItalic';
}
.f-beautique-display-condesed-italic {
    font-family: 'BeautiqueDisplayCondensed-Italic';
}
.f-beautique-display-condesed-light {
    font-family: 'BeautiqueDisplayCondensed-Light';
}
.f-beautique-display-condesed-light-italic {
    font-family: 'BeautiqueDisplayCondensed-LightItalic';
}
.f-beautique-display-condesed-medium {
    font-family: 'BeautiqueDisplayCondensed-Medium';
}
.f-beautique-display-condesed-medium-italic {
    font-family: 'BeautiqueDisplayCondensed-MediumItalic';
}
.f-beautique-display-condesed-regular {
    font-family: 'BeautiqueDisplayCondensed-Regular';
}
